* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  padding: .6rem;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid pink;
  text-align: center;
  padding:20px;
 
  z-index: 1000px;
  background-color: blanchedalmond;
}

button{
  padding: 5px;
  margin-left: 4px;
  border-radius: 10px;
  font-weight: bolder;
}


